{% extends 'base.html' %}

{% block content %}
    <!-- Hidden input to store the username -->
     <input type="hidden" id="current-username" value="{{ username }}">

    <div class="chat-container">
        <div class="chat-header">
            <div class="brand">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
                </div>

                <div class="brand-text">
                    <h1>ROOM <span>LIVE</span></h1>
                    <div class="code-info">
                        <span>CODE:</span>
                        <span class="code-badge">{{ code_badge }}</span>
                    </div>
                </div>
            </div>

            <div class="status-container">
                <span class="status-text">Connected</span>
                <div class="status-dot"></div>
            </div>
        </div>

        <div class="messages-area">
            {% for msg in messages %}

                {% if msg.message == "joined the room" or msg.message == "left the room" %}
                    <div class="join-notification">
                        <span class="notify-text">
                            <span class="join-name">{{ msg.name }}</span> {{ msg.message }}
                        </span>
                    </div>
                {% else %}
                    <div class="message-row {% if msg.name == username %}own{% else %}other{% endif %}">
                        <span class="sender-name">{{ msg.name }}</span>
                        <div class="bubble {% if msg.name == username %}own{% else %}other{% endif %}">
                            {{ msg.message }}
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

        <div class="chat-footer">
            <div class="input-row">
                <input type="text" class="text-input send-input" placeholder="Message" id="message-input">
                <button type="button" class="btn-send" onclick="sendMessage()">SEND</button>
            </div>
        </div>
    </div>

{% endblock %}